@{
    ViewBag.Title = "Error";
}

@section css{
    <link href="~/Content/css/404/404.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap"
          rel="stylesheet" />
    <!-- font Quicksand -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />

    <!-- Normalize CSS -->
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <!-- CDN link -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Plugin -->
    <link rel="stylesheet"
          href="~/Content/plugins/bootstrap-4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="~/Content/plugins/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/Content/plugins/menu/sm-core-css.css" />
    <link rel="stylesheet" href="~/Content/plugins/menu/sm-clean.css" />
    <link rel="stylesheet" href="~/Content/plugins/slick/slick.css" />
    <link rel="stylesheet" href="~/Content/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/plugins/fontawesome/all.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/css/menu.css" />
    <link rel="stylesheet" href="~/Content/css/main.css" />

    <!-- CSS for each page -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
}
<main>
    <div class="error-page">
        <div class="error-content">
            <img src="~/Content/images/logo-footers.svg" alt="404 image page" />
            <h1>404</h1>
            <h2>Page not found</h2>
            <div class="error-find">
                <a href="/"><button>GO HOME PAGE</button></a>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>

    <!-- CDN link -->
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

    <!-- Plugin -->
    <script src="~/Content/plugins/bootstrap-4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/plugins/menu/jquery.smartmenus.min.js"></script>
    <script src="~/Content/plugins/validation1.19.3/jquery.validate.min.js"></script>
    <script src="~/Content/plugins/slick/slick.min.js"></script>
    <script src="~/Content/plugins/fontawesome/all.js"></script>

    <!-- Main JS -->
    <script src="~/Content/js/validate.js"></script>
    <script src="~/Content/js/slide.js"></script>

    <script src="~/Content/js/main.js"></script>

}